@import "https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap";

:root {
    --color-purple: #bd93f9;
    --color-text: #f8f8f2;
    --color-dracula: #6272a4;
    --color-pink: #ff79c6
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background: #282a36;
    color: var(--color-text);
    font-family: 'Roboto', sans-serif;
}

header {
    padding: 30px;
    border-bottom: 1px solid #44475a;
    background: rgba(68, 71, 90, 0.05);
}

.links {
    text-align: center;
}

.links a {
    color: white;
    font-size: 22px;
    font-weight: normal;
    margin: 0 30px;
    text-decoration: none;
}

.links a:hover {
    color: var(--color-purple);
}

#wrapper {
    text-align: center;
    padding: 32px;
}

#wrapper img {
    border-radius: 50%;
    border: 3px solid var(--color-purple);
    margin-bottom: 32px;
    height: 350px;
}

#wrapper h1 {
    font-size: 42px;
    line-height: 52px;
    font-weight: bold;
    color: var(--color-purple);
}

#wrapper h2 {
    font-size: 32px;
    line-height: 42px;
    font-weight: lighter;
    margin-bottom: 12px;
}

#wrapper ul {
    text-align: center;
    list-style-type: square;
    margin-bottom: 16%;
}

#wrapper li {
    display: inline;
    margin-right: 8px;
    padding: 4px 8px;
    border: 1px solid;
    font-size: 22px;
    line-height: 32px;
    font-weight: normal;
}

#link-footer {
    margin-bottom: 12px;
}

#link-footer a {
    color: var(--color-text);
}

#link-footer a:hover {
    border-bottom: 1px solid var(--color-purple);
}

/*=== CARDS POSTS ===*/

.cards_posts {
    padding: 64px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
}

.card_post {
    background-color: var(--color-dracula);
    filter: brightness(80%);
    cursor: pointer;
}

.content_image img {
    width: 100%;
}

.content_title p {
    font-size: 32px;
    line-height: 42px;
    font-weight: bold;
    text-align: center;
}

.content_title, .content_infos {
    padding: 24px;
}

.content_infos {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.content_infos p{
    font-size: 22px;
    line-height: 28px;
    font-weight: lighter;
}

.time {
    text-align: center;
    color: black;
    background-color: var(--color-pink);
    border-radius: 12px;
}

/*=== MODAL ===*/

.modal_overlay {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;
}

.modal {
    background-color: white;
    width: 70%;
    height: 70%;
    margin: 15vh auto;
    position: relative;
}

.modal .close_modal {
    color: black;
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
}

.modal .max_modal {
    color: black;
    position: absolute;
    top: 8px;
    left: 8px;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
}

.modal .min_modal {
    color: black;
    position: absolute;
    top: 8px;
    left: 8px;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
}

/*=== MODAL ACTIVE ===*/

.modal_overlay.active {
    opacity: 1;
    visibility: visible;
}

/*=== MAXIMIZE ===*/

.modal.maximize {
    background-color: white;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

/*=== VISIBLE BUTTON ===*/

.max_modal.visible, .min_modal.visible {
    opacity: 1;
    visibility: visible;
}

iframe {
    width: 100%;
    height: 100%;
    top: 8%;
    position: absolute;
}